div.Register {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.error {
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(255, 210, 210);
        border-radius: 5px;
    }
    
    div.RegisterInput {
        display: flex;
        flex-direction: column;
        label {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            input {
                margin: 0.5rem;
            }
        }
    }
    

    button {
        margin-top: 1rem;
        padding: 0.3rem 0.5rem 0.5rem 0.6rem;
        margin-bottom: 0.4rem;
        background-color: white;
        border-radius: 10px;
        border: 0.5px solid black;
    }
}